.input-group{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group form {
display: flex;
flex-direction: column;
}

.input-field{
    width: 100%;
}

button{
    margin-right: 5px;
}
